<div class="row">
  <div class="span4">
    <h1>Add Designation</h1>
    <%= form_for @designation do |f| %>
      <%= render "shared/error_messages",:target => @designation %>
      <%= f.label "Designation Name" %>
      <%= f.text_field :desig_name %>
      <%= f.submit "Add Designation",class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="span8">
      <div id="counts"><%= pluralize(@designations.count,"Designation") %></div>
      <table class="table" id="designation">
        <thead>
          <tr>
            <th>Designation Name</th>
          </tr>
        </thead>
        <% @designations.each do |designation| %>
          <tbody>
            <tr>
              <td>
                <%= designation.desig_name %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>